<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"content="">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/dist/css/main.css">
</head>
<body>
{{{@body}}}
<script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key={{mapskey}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
<script type="text/javascript" src="/dist/js/build.js"></script>
</body>
</html>